{% extends "base.html" %}
{% block content %}
	{% include 'paper.css' %}
	<div class="jumbotron jumbotron-fluid text-center paper-gradient"> 
		<h1 class="display-1"> LST </h1>
		<p class="lead">licensure exam statistical test </p>
	</div>

	<div class="container">
		<div class="card card-body mb-3">
			<blockquote class="blockquote">	
				<p class="mb-0">The academic performance of students can be infered by  their financial capability, by how their parents guided them, the learning and teaching process and the infrastracture of the environment of the student. positive side of the said factors can result to a great academic performance of a student while negative side may result to a poor academic performance of the said student. </p>
				<footer class="blockquote-footer">
Wan Maziah Wan Ab Razak et al.,
				</footer>
			</blockquote>
		</div>

		<!-- <canvas id="myChart" width="250" height="250"></canvas> -->
		<h3 class="text-center"> University Top Scores </h3>
		<table class="table table-responsive-lg table-sm table-hover table-bordered text-center"> 
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">School</th>
				<th scope="col" colspan="4">Percentage<br />(scores over max)</th>
			</tr>
		</thead>

        	{% if objects %}
        		{% for obj in objects %}
        		<tr>
                    	<th scope="row">{{ obj.id }}</th>
                   	<td>{{ obj.label }}</td>
			<td>{{obj.val|floatformat}} % </td>
                    	<td>{{ obj.orig }}</td>
                    	<td>of</td>
                    	<td>{{ obj.max }}</td>
                	</tr>
        		{% endfor %}
        	{% endif %}

		</table>
	<a class="btn btn-lg btn-block btn-outline-dark my-2 p-4" href= "{% url 'index:ind-add' %}" style="font-size: 1.5em;">
		<i class="fa fa-edit fa-lg"></i>
		TAKE THE TEST
	</a>
	</div>
{% endblock content %}
{% block post_js %}
	<!-- <script>
		var endpoint = '/api/data/chartss/'
		var defaultData = []
		var labels = []
		$.ajax({
			method : "GET",
			url : endpoint,
			success: function(data){
				labels = data.labels
				defaultData = data.defaultData
				setChart()
			},
			error: function(error_data){
				console.log("error")
				console.log(error_data)
			}
		})

		function setChart(){
			var ctx = document.getElementById('myChart');
			var myChart = new Chart(ctx, {
			    type: 'bar',
			    data: {
			        labels: labels,
			        datasets: [{
			            label: 'Percentages of Factors',
			            data: defaultData,
			            backgroundColor: [
			                '#ff6384',
			                '#36a2eb',
			                '#cc65fe',
			                '#ffce56',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)'
			            ],
			            borderColor: "#fff",
			            borderWidth: 1
			        }]
			    },
			    options: {
			    }
			});
		}
	</script> -->
{% endblock post_js %}
