{% extends "base.html" %}
{% block content %}
	{% if stats %}
	{% include 'paper.css' %}
	<div class="jumbotron jumbotron-fluid text-center paper-gradient">
		<h2 class="font-weight-bold">{{ stats.name }}, you got...</h2>
		<h1 class="display-1" id="animate">0</h1>
		{% if call %}
	       		<p class="lead display-4">	
			You have a <b>{{ call }}</b> to top the L.E.T ! 
			</p>
		{% endif %}
	</div>
	<div class="container">
		<div class="accordion mb-3" id="accordion"> 
		<div class="card"> 
			<div class="card-header" id="header1">
			<h5 class="mb-0">
			<button class="btn btn-link" data-toggle="collapse" data-target="#total" style="font-size: 1em;">
				<i class="fas fa-sticky-note fa-lg mr-3"></i>Total results
			</button>
			</div>
		<div id="total" class="collapse" data-parent="#accordion">
			<div class="card card-body">
				<ul class="list-group list-group-flush mb-3">	
					<li class="list-group-item">Personal Factor : {{ overall1 }}</li>
				<li class="list-group-item">Family Factor : {{ overall2 }}</li>
				<li class="list-group-item">Peer Factor : {{ overall3 }}</li>
				<li class="list-group-item">School Factor : {{ overall4 }}</li>
				<li class="list-group-item">Miscellaneous Factor : {{ overall5 }}</li>
				</ul>
				<div class="mx-auto">
					<p class="text-center lead display-5 font-weight-bold">	
						Total : {{ total }}  
					
					<p class="text-center lead display-5 font-weight-bold">	
						Average : {{ average }}
					</p>
				</div>
			</div>
		</div>
		<div class="card"> 
			<div class="card-header" id="header2">
			<h5 class="mb-0">
			<button class="btn btn-link" data-toggle="collapse" data-target="#stats" style="font-size: 1em;">
				<i class="fas fa-brain fa-lg mr-3"></i>Statistical Analysis
			</button>
			</div>
		
			<div id="stats" class="collapse" data-parent="#accordion">
			<a class="carousel-control-prev" href="#statslide" data-slide="prev" style="color: black;">
				<span class="carousel-control-prev-icon" span>
			</a>
			<a class="carousel-control-next" href="#statslide" data-slide="next" style="color: black;">
				<span class="carousel-control-next-icon" style="color: black;"></span>
			</a>
			<div id="statslide" class="carousel slide mb-2 mx-auto" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active"> 
						<canvas id="myChart"> </canvas>
						<div class="carousel-caption text-dark d-none d-block font-weight-bold">
							<h4> Fig 1. Factors that affects the chance </h4>
							<p class="text-truncate"> Consists of interpersonal and intrapersonal variables that affects the chance of getting a high score </p>
						</div>	
					</div>
					<div class="carousel-item">
						<canvas id="myChart1"></canvas> 
						<div class="carousel-caption text-dark d-none d-block font-weight-bold">
							<h4> Fig 2. Overall chances of participants </h4>
							<p> Consists of data gathered from people who took this test </p>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="card"> 
			<div class="card-header" id="header3">
			<h5 class="mb-0">
			<button class="btn btn-link" data-toggle="collapse" data-target="#exp1" style="font-size: 1em;">
				<i class="far fa-chart-bar fa-lg mr-3"></i>Figure 1 Graph Explanation
			</button>
			</div>
			<div id="exp1" class="collapse" data-parent="#accordion">
			<div class="card card-body">
				<ul class="list-group-flush">
					<li class="list-group-item">
						<h5 class="font-weight-bold">Personal Factors</h5>
						Consisted of study habits, stead prayers life, consisted honor student, positive attitute, 
						home study, bookworm/ reading in advance.</li> 
					<li class="list-group-item">
						<h5 class="font-weight-bold">Family Factors</h5>
						Family especially the parents, Father as role of leadership
					</li>
					<li class="list-group-item">
						<h5 class="font-weight-bold">Peer Factors</h5>
						Schoolmates as Review Buddy/Group
					</li>
					<li class="list-group-item">
						<h5 class="font-weight-bold">School Factors</h5>
						Curriculum, faculty, learning resources, review program, administration
					</li>
					<li class="list-group-item">
						<h5 class="font-weight-bold">Traffic Factors</h5>
						Unit, time to go to school, traffic
					</li>
				</ul>
				<p>
				These factors affects one performance in exams especially in taking licensure ones. One person prepared and had a good performance sure does had a very high chance to topnotch and vice versa. </p>
			</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="header3">
			<h5 class="mb-0">
			<button class="btn btn-link" data-toggle="collapse" data-target="#exp2" style="font-size: 1em;">
				<i class="fas fa-chart-pie fa-lg mr-3"></i>Figure 2 Graph Explanation
			</button>
			</div>
			<div id="exp1" class="collapse" data-parent="#accordion">
			<div class="card card-body">
				<p>This shows all the datum gathered from the users that took the test. Consisted of the general weight coming from the total of weights gathered over the maximum weight. Consisted of four weights : Low Chance, Average Chance, High Chance, and Very High Chance. </p>
				<ul class="list-group-flush">
					<li class="list-group-item">
						<p><b>Low Chance</b>,gathered from 25-49 performance.</p></li> 
					<li class="list-group-item">
						<p><b>Average Chance</b>,range from 50 to 74.</p></li> 
					</li>
					<li class="list-group-item">
						<p><b>High Chance</b>range from 75 to 99.</p></li> 
					</li>
					<li class="list-group-item">
						<p><b>Very High Chance/b>,from 100 and above.</p></li> 
					</li>
				</ul>
			</div>
		</div>
		</div>

		</div><!-- card -->
		</div><!-- end accordion -->		
		</div><!-- end container -->
		<a class="p-4 my-5 btn btn-block btn-dark text-light" href = "{% url 'index:ind' %}" style="font-size: 1em">
			<i class="fa fa-home fa-lg mr-2"></i>
			Back To Home Page
		</a>
	</div>
		 
		 
		 
	{% endif %}

	{% endblock content %}
{% block post_js %}
	<script>
	var percent = $.animateNumber.numberStepFactories.append(' %');
	$('#animate').animateNumber({
		number: {{percentage}},
		numberStep: percent
	},{ duration: 2000 }

	);
		var endpoint = '/api/data/charts/'
		var defaultData = []
		var labels = []
		var labels1 = []
		var defaultData1 = []
		var id = "{{ stats.pk }}"
		console.log(id)
		$.ajax({
			method : "GET",
			url : endpoint,
			data :{ 
				'idy' : id,
			 },
			//console.log(data.id)
			success: function(data){
				labels = data.labels
				defaultData = data.defaultData
				labels1 = data.labels1
				defaultData1 = data.defaultData1
				//var ctx = document.getElementById('myChart');
				setChart()
				setBar()
			},
			error: function(error_data){
				console.log("error")
				console.log(error_data)
			}
		})

		function setChart(){
			var ctx = document.getElementById('myChart');
			var myChart = new Chart(ctx, {
			    type: 'doughnut',
			    data: {
			        labels: labels,
			        datasets: [{
			            label: 'Percentages of Factors',
			            data: defaultData,
			            backgroundColor: [
			                '#ff6384',
			                '#36a2eb',
			                '#cc65fe',
			                '#ffce56',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)'
			            ],
			            borderColor: "#fff",
			            borderWidth: 1
			        }]
			    },
			    options: {
			    }
			});
		}
		
	function setBar(){
		var ctx1 = document.getElementById('myChart1');
			var myChart = new Chart(ctx1, {
			    type: 'bar',
			    data: {
			        labels: labels1,
			        datasets: [{
			            label: 'Overall Chances',
			            data: defaultData1,
			            backgroundColor: [
			               	'#ff6384',
			                '#36a2eb',
			                '#cc65fe',
			                '#ffce56',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)'
			            ],
			            borderColor: [],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});
		}
	</script>	
{% endblock post_js %}
