{% extends "base.html" %}
{% block content %}
	{% if stats %}
	<div class="jumbotron jumbotron-fluid text-center">
		<h4>{{ stats.name }}, you got...</h4>
		<h1 class="display-1" id="animate">0</h1>
		{% if call %}
	       		<p class="lead">	
			You had {{ call }} to Top the L.E.T ! 
			</p>
		{% endif %}
	</div>
	<div class="container">
		<div class="accordion mb-3" id="accordion"> 
		<div class="card"> 
			<div class="card-header" id="header1">
			<h5 class="mb-0">
			<button class="btn btn-link" data-toggle="collapse" data-target="#total" style="font-size: 1em;">
				<i class="fas fa-sticky-note fa-lg mr-3"></i>Total results
			</button>
			</div>
		<div id="total" class="collapse" data-parent="#accordion">
			<div class="card card-body">
				<ul class="list-group list-group-flush mb-3">	
					<li class="list-group-item">Personal Factor : {{ overall1 }}</li>
				<li class="list-group-item">Family Factor : {{ overall2 }}</li>
				<li class="list-group-item">Peer Factor : {{ overall3 }}</li>
				<li class="list-group-item">School Factor : {{ overall4 }}</li>
				<li class="list-group-item">Miscellaneous Factor : {{ overall5 }}</li>
				</ul>
				<div class="mx-auto">
					<p class="text-center lead display-5 font-weight-bold">	
						Total : {{ total }}  
					
					<p class="text-center lead display-5 font-weight-bold">	
						Average : {{ average }}
					</p>
				</div>
			</div>
		</div>
		<div class="card"> 
			<div class="card-header" id="header2">
			<h5 class="mb-0">
			<button class="btn btn-link" data-toggle="collapse" data-target="#stats" style="font-size: 1em;">
				<i class="far fa-chart-bar fa-lg mr-3"></i>Statistical Analysis
			</button>
			</div>
		
		<div id="stats" class="collapse" data-parent="#accordion">
			<div id="statslide" class="carousel slide mb-2 mx-auto" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active"> 
						<canvas id="myChart"> </canvas>
						<div class="carousel-caption text-dark d-none d-block font-weight-bold">
							<h4> Fig 1. Factors that affects the chance </h4>
							<p> Consists of interpersonal and intrapersonal variables that affects... </p>
						</div>	
					</div>
					<div class="carousel-item">
						<canvas id="myChart1"></canvas> 
						<div class="carousel-caption text-dark d-none d-block font-weight-bold">
							<h4> Fig 2. Overall chances of participants </h4>
							<p> Consists of data gathered from people who took this test </p>
						</div>	
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#statslide" data-slide="prev" style="color: black;">
				<span class="carousel-control-prev-icon" span>
			</a>
			<a class="carousel-control-next" href="#statslide" data-slide="next" style="color: black;">
				<span class="carousel-control-next-icon" style="color: black;"></span>
			</a>
			<div class="accordion" id="explanations">
				<div class="card">
					<div class="card-header" id="exph1">
						<p class="mb-0"> 
						<button class="btn btn-link" data-toggle="collapse" data-target="exp1">
							Figure 1 explanation
						</button>	
						</p>
					</div>
					<div id="exp1" class="collapse show" data-parent="#explanations">
						<div class="card card-body">
							<h5>Personal Factors</h5>
							<small class="lead">
								Consisted of study habits, stead prayers life, consisted honor student, positive attitute, 
								home study, bookworm/ reading in advance. 
							</small>
							<div class="row">
								<div class="col-3">
									<div class="list-group">
										<a class="list-group-item list-group-item-action active" id="hftoggle" data-toggle="list" href="#hftab">Home Factor</a>
										<a class="list-group-item list-group-item-action active" id="pftoggle" data-toggle="list" href="#pftab">Peer Factor</a>
										<a class="list-group-item list-group-item-action active" id="sftoggle" data-toggle="list" href="#sftab">School Factor</a>
										<a class="list-group-item list-group-item-action active" id="tftoggle" data-toggle="list" href="#tftab">Transportation Factor</a>
									</div>
									<div class="col-9">
										<div class="tab-content">
											<div class="tab-pane fade show active" id="hftab">
												Family especiall the parents, Father as role of leadership
											</div>
											<div class="tab-pane fade" id="pftab">
												Schoolmates as Review Buddy/Group
											</div>
											<div class="tab-pane fade" id="sftab">
												Curriculum, faculty, learning resources, review program, administration
											</div>
											<div class="tab-pane fade" id="hftab">
												Unit, time to go to school, traffic
											</div>
										</div>
									</div>		
									This factors affects one performance in exams especially in taking licensure ones. One person prepared and had a good performance sure does had a very high chance to topnotch and vice versa.
								</div>
					</div>
				</div>
		</div>
		</div>		
		</div>
		<a class="p-4 my-5 btn btn-block btn-dark text-light" href = "{% url 'index:ind' %}" style="font-size: 1em">
			<i class="fa fa-home fa-lg mr-2"></i>
			Back To Home Page
		</a>
	</div>
		 
		 
		 
	{% endif %}

	{% endblock content %}
{% block post_js %}
	<script>
	var percent = $.animateNumber.numberStepFactories.append(' %');
	$('#animate').animateNumber({
		number: {{percentage}},
		numberStep: percent
	},{ duration: 2000 }

	);
		var endpoint = '/api/data/charts/'
		var defaultData = []
		var labels = []
		var labels1 = []
		var defaultData1 = []
		var id = "{{ stats.pk }}"
		console.log(id)
		$.ajax({
			method : "GET",
			url : endpoint,
			data :{ 
				'idy' : id,
			 },
			//console.log(data.id)
			success: function(data){
				labels = data.labels
				defaultData = data.defaultData
				labels1 = data.labels1
				defaultData1 = data.defaultData1
				//var ctx = document.getElementById('myChart');
				setChart()
				setBar()
			},
			error: function(error_data){
				console.log("error")
				console.log(error_data)
			}
		})

		function setChart(){
			var ctx = document.getElementById('myChart');
			var myChart = new Chart(ctx, {
			    type: 'doughnut',
			    data: {
			        labels: labels,
			        datasets: [{
			            label: 'Percentages of Factors',
			            data: defaultData,
			            backgroundColor: [
			                '#ff6384',
			                '#36a2eb',
			                '#cc65fe',
			                '#ffce56',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)'
			            ],
			            borderColor: "#fff",
			            borderWidth: 1
			        }]
			    },
			    options: {
			    }
			});
		}
		
	function setBar(){
		var ctx1 = document.getElementById('myChart1');
			var myChart = new Chart(ctx1, {
			    type: 'bar',
			    data: {
			        labels: labels1,
			        datasets: [{
			            label: 'Overall Chances',
			            data: defaultData1,
			            backgroundColor: [
			               	'#ff6384',
			                '#36a2eb',
			                '#cc65fe',
			                '#ffce56',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)'
			            ],
			            borderColor: [],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});
		}
	</script>	
{% endblock post_js %}
